/*******************************************************************************
 *
 * File        : test_{FileBaseName}.c
 * Project     : {ProjName}
 * Copyright   : Services Catalys {Year}
 * Created on  : {Date}
 * Compiler    : {Compiler}
 * Notes       : None
 *
 ******************************************************************************/

/*==============================================================================
 = INCLUDE FILES
 =============================================================================*/
#include "unity.h"
#include "cmock.h"
#include "{fileBaseName}.h"

/* Standard */

/* Library */

/* App */

/* Mock */

 
/*==============================================================================
 = DEFINITIONS
 =============================================================================*/

/*==============================================================================
 = GLOBAL VARIABLES
 =============================================================================*/

/*==============================================================================
 = CALLBACK PROTOTYPES
 =============================================================================*/

/*==============================================================================
 = HELPER FUNCTION PROTOTYPES
 =============================================================================*/

/*==============================================================================
 = SETUP/TEARDOWN
 =============================================================================*/
void setUp()
{
}

void tearDown()
{
}

/*==============================================================================
 = TESTS
 =============================================================================*/
/**
 *
 */
void test_{fileBaseName}_<function>_should_<achievement>()
{
}

/*==============================================================================
 = CALLBACKS
 =============================================================================*/

/*==============================================================================
 = HELPER FUNCTIONS
 =============================================================================*/


/* END OF FILE ****************************************************************/
